In [1]:
import pandas as pd
import numpy as np

In [5]:
dfmenor1 = pd.read_csv('data/menor1ano.csv',';')
dfmenor1 = dfmenor1.replace('-',0)
faixa = 'menor 1 ano'
dfmenor1 = dfmenor1.drop(dfmenor1[dfmenor1['Ano do Óbito']=='Total'].index) 
dfmenor1 = dfmenor1.apply(pd.to_numeric)
dfmenor1.columns = dfmenor1.columns + ' ' + faixa

df1a4 = pd.read_csv('data/1a4anos.csv',';')
faixa = '1 a 4 anos'
df1a4 = df1a4.replace('-',0)
df1a4 = df1a4.drop(df1a4[df1a4['Ano do Óbito']=='Total'].index) 
df1a4 = df1a4.apply(pd.to_numeric)
df1a4.columns = df1a4.columns + ' ' + faixa

df5a9 = pd.read_csv('data/5a9.csv',';')
faixa = '5 a 9 anos'
df5a9 = df5a9.replace('-',0)
df5a9 = df5a9.drop(df5a9[df5a9['Ano do Óbito']=='Total'].index) 
df5a9 = df5a9.apply(pd.to_numeric)
df5a9.columns = df5a9.columns + ' ' + faixa

df10a15 = pd.read_csv('data/10a15.csv',';')
faixa = '10 a 14 anos'
df10a15 = df10a15.replace('-',0)
df10a15 = df10a15.drop(df10a15[df10a15['Ano do Óbito']=='Total'].index) 
df10a15 = df10a15.apply(pd.to_numeric)
df10a15.columns = df10a15.columns + ' ' + faixa

pop = pd.read_csv('data/popu.csv',';')
colnames = pop.iloc[:,0]
pop = pop.transpose().iloc[5:]
pop.columns = colnames
pop = pop.apply(pd.to_numeric)
pop = pop.reset_index()
pop.index = pd.to_numeric(pop.index)
pop.columns = pop.columns+' populacao' 
pop['ano'] = pd.Series(np.arange(1997,2020))

unificado = pd.DataFrame(np.arange(1996,2021))
unificado.columns = ['ano']
unificado = unificado.merge(dfmenor1,how='left',left_on='ano',right_on=dfmenor1.columns[0])
unificado = unificado.merge(df1a4,how='left',left_on='ano',right_on=df1a4.columns[0])
unificado = unificado.merge(df5a9,how='left',left_on='ano',right_on=df5a9.columns[0])
unificado = unificado.merge(df10a15,how='left',left_on='ano',right_on=df10a15.columns[0])
unificado = unificado.merge(pop,how='left',left_on='ano',right_on='ano')
unificado = unificado.replace(np.NaN,0)
colunas_manter = ['ano', 'SUL menor 1 ano',
       'METROPOLITANA menor 1 ano', 'CENTRAL NORTE menor 1 ano',
       'Total menor 1 ano', 'SUL 1 a 4 anos',
       'METROPOLITANA 1 a 4 anos', 'CENTRAL NORTE 1 a 4 anos',
       'Total 1 a 4 anos', 'SUL 5 a 9 anos',
       'METROPOLITANA 5 a 9 anos', 'CENTRAL NORTE 5 a 9 anos',
       'Total 5 a 9 anos',
       'SUL 10 a 14 anos', 'METROPOLITANA 10 a 14 anos',
       'CENTRAL NORTE 10 a 14 anos', 'Total 10 a 14 anos',
        'SUL populacao', 'METROPOLITANA populacao',
       'CENTRAL NORTE populacao', 'Total populacao']
df = unificado[colunas_manter]

/tmp/ipykernel_29822/2470664032.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  dfmenor1 = pd.read_csv('data/menor1ano.csv',';')
/tmp/ipykernel_29822/2470664032.py:8: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df1a4 = pd.read_csv('data/1a4anos.csv',';')
/tmp/ipykernel_29822/2470664032.py:15: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df5a9 = pd.read_csv('data/5a9.csv',';')
/tmp/ipykernel_29822/2470664032.py:22: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df10a15 = pd.read_csv('data/10a15.csv',';')
/tmp/ipykernel_29822/2470664032.py:29: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  pop = pd.read_csv('data/popu.csv',';')

In [6]:
df

,ano,SUL menor 1 ano,METROPOLITANA menor 1 ano,CENTRAL NORTE menor 1 ano,Total menor 1 ano,SUL 1 a 4 anos,METROPOLITANA 1 a 4 anos,CENTRAL NORTE 1 a 4 anos,Total 1 a 4 anos,SUL 5 a 9 anos,...,CENTRAL NORTE 5 a 9 anos,Total 5 a 9 anos,SUL 10 a 14 anos,METROPOLITANA 10 a 14 anos,CENTRAL NORTE 10 a 14 anos,Total 10 a 14 anos,SUL populacao,METROPOLITANA populacao,CENTRAL NORTE populacao,Total populacao
0,1996,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0,...,1,2,0,2,1,3,0.0,0.0,0.0,0.0
1,1997,0.0,1.0,0.0,1.0,1.0,2.0,0.0,3.0,0,...,1,3,1,6,0,7,534153.0,1598348.0,720597.0,2853098.0
2,1998,0.0,0.0,0.0,0.0,1.0,2.0,1.0,4.0,0,...,0,4,0,2,2,4,539817.0,1629190.0,726540.0,2895547.0
3,1999,0.0,0.0,0.0,0.0,0.0,4.0,1.0,5.0,1,...,2,4,0,2,4,6,545491.0,1660081.0,732490.0,2938062.0
4,2000,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1,...,1,2,0,3,0,3,551182.0,1691084.0,738463.0,2980729.0
5,2001,0.0,0.0,0.0,0.0,0.0,2.0,4.0,6.0,0,...,1,3,0,3,1,4,591919.0,1802504.0,760593.0,3155016.0
6,2002,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0,...,1,6,0,2,1,3,601078.0,1833097.0,767547.0,3201722.0
7,2003,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1,...,0,3,1,3,4,8,609420.0,1866869.0,773930.0,3250219.0
8,2004,1.0,1.0,0.0,2.0,1.0,1.0,1.0,3.0,2,...,0,4,1,3,3,7,626930.0,1937760.0,787334.0,3352024.0
9,2005,0.0,1.0,0.0,1.0,0.0,2.0,1.0,3.0,0,...,1,2,1,3,1,5,636619.0,1976994.0,794752.0,3408365.0
10,2006,0.0,2.0,0.0,2.0,0.0,3.0,1.0,4.0,1,...,0,8,0,1,1,2,646239.0,2015931.0,802115.0,3464285.0
11,2007,0.0,0.0,0.0,0.0,1.0,2.0,2.0,5.0,1,...,0,4,1,6,1,8,607461.0,1957716.0,786492.0,3351669.0
12,2008,0.0,0.0,0.0,0.0,1.0,1.0,2.0,4.0,2,...,0,7,2,1,2,5,625247.0,2010133.0,818268.0,3453648.0
13,2009,0.0,0.0,0.0,0.0,1.0,3.0,0.0,4.0,0,...,0,2,1,3,3,7,629022.0,2034016.0,824161.0,3487199.0
14,2010,0.0,0.0,0.0,0.0,0.0,2.0,1.0,3.0,1,...,2,5,0,2,1,3,623521.0,2041764.0,847387.0,3512672.0
15,2011,0.0,0.0,0.0,0.0,1.0,2.0,2.0,5.0,0,...,0,1,2,4,2,8,626503.0,2066013.0,854539.0,3547055.0
16,2012,0.0,1.0,0.0,1.0,0.0,1.0,2.0,3.0,0,...,1,3,1,3,0,4,629492.0,2087088.0,861487.0,3578067.0
17,2013,0.0,0.0,0.0,0.0,1.0,2.0,0.0,3.0,0,...,2,4,2,3,0,5,671085.0,2244813.0,923468.0,3839366.0
18,2014,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,0,...,1,4,1,0,1,2,676024.0,2275212.0,933813.0,3885049.0
19,2015,0.0,0.0,1.0,1.0,0.0,3.0,0.0,3.0,0,...,2,6,2,4,2,8,680871.0,2305069.0,943971.0,3929911.0
20,2016,0.0,1.0,0.0,1.0,2.0,3.0,4.0,9.0,1,...,0,4,1,1,0,2,685601.0,2334209.0,953887.0,3973697.0
21,2017,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1,...,1,3,0,4,0,4,690210.0,2362602.0,963544.0,4016356.0
22,2018,0.0,0.0,1.0,1.0,1.0,4.0,0.0,5.0,0,...,1,6,1,1,1,3,673658.0,2347633.0,951097.0,3972388.0
23,2019,1.0,0.0,0.0,1.0,1.0,4.0,3.0,8.0,0,...,2,4,2,2,1,5,678071.0,2379133.0,961446.0,4018650.0
24,2020,1.0,0.0,0.0,1.0,0.0,2.0,1.0,3.0,0,...,1,2,0,3,0,3,0.0,0.0,0.0,0.0